:root {
  min-block-size: 100vh;
  scrollbar-gutter: stable;
  font-size: var(--root-font-size);
  font-feature-settings: "pkna";
  font-synthesis: none;
  line-height: var(--leading-base);
  color: var(--color-text);
  letter-spacing: var(--letter-spacing-base);
  color-scheme: normal;
  scroll-padding-top: var(--header-block-size, 0);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-spacing-trim: trim-start;
}

body {
  min-block-size: 100%;
  min-block-size: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-base);
}

.lenis body {
  backface-visibility: hidden;
}

:where(main) {
  max-inline-size: var(--container-max-width-view);
  margin-inline: auto;
  container-name: main;
  container-type: inline-size;
  backface-visibility: hidden;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 0;
}

:where(img, svg) {
  max-inline-size: 100%;
  block-size: auto;
  backface-visibility: hidden;
}

:where(svg) {
  inline-size: 100%;
  block-size: auto;
  overflow: visible;
}

:where(table) {
  inline-size: 100%;
  border-collapse: collapse;
}

:where(.has-fixed-layout table, table.has-fixed-layout) {
  inline-size: 100%;
  table-layout: fixed;
}

:where(thead) {
  border-block-end: max(1px, calc(1 * var(--rem))) solid;
}

:where(tfoot) {
  border-block-start: max(1px, calc(1 * var(--rem))) solid;
}

:where(td, th) {
  padding: 0.5em 0.75em;
  line-break: anywhere;
  border: max(1px, calc(1 * var(--rem))) solid;
}

:where(dialog) {
  inline-size: unset;
  max-inline-size: unset;
  block-size: unset;
  max-block-size: unset;
  padding: unset;
  margin: unset;
  overflow: unset;
  color: unset;
  background-color: unset;
  border: unset;
}

:focus:not(:focus-visible) {
  outline: none;
}

:where(:root[data-mousedown] dialog *) {
  outline: none;
}

[data-modal-open]:where(:root[data-mousedown] *) {
  outline: none;
}

:where(a, button, summary) {
  text-wrap: pretty;
  text-underline-offset: 0.25em;
}

:where(a) {
  text-decoration: underline;

  &:focus-visible {
    text-decoration: none;
  }

  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

:where(button) {
  touch-action: manipulation;
  background-color: transparent;
  border: 0;
}

a:not([class*="button"], :has(img, svg, [data-external-icon]))[target="_blank"]::after,
a[target="_blank"] > [data-external-icon]::after {
  --_color: currentcolor;

  display: inline-block;
  inline-size: 0.75em;
  aspect-ratio: 1;
  margin-block-end: 0.125em;
  margin-inline-start: 0.25em;
  content: "";
  background-color: var(--_color);
  mask: var(--img-ico-external) no-repeat center / contain;
}

:where(a, button).has-underline-link {
  text-decoration: underline;

  &:focus-visible {
    text-decoration: none;
  }
  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

[hidden]:not([hidden="until-found"]) {
  display: none !important;
}

:where(figcaption) {
  padding-block: 0.5em;
  font-size: var(--font-size-12);
  line-height: var(--leading-md);
}

:where(iframe) {
  border: 0;
}

:where(time) {
  font-family: var(--font-family-sans-serif-roman);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.05em;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition: none !important;
    animation-duration: 0s !important;
  }
}
