/*
:root {
  --bg-grad-instagram: url(./img/bg-grad-instagram.png);
  --bg-no-image: url(./img/bg-no-image.svg);
  --img-ico-arrow-down: url(./img/ico-arrow-down.svg);
  --img-ico-arrow-next: url(./img/ico-arrow-next.svg);
  --img-ico-arrow-prev: url(./img/ico-arrow-prev.svg);
  --img-ico-arrow-up: url(./img/ico-arrow-up.svg);
  --img-ico-badge-checked: url(./img/ico-badge-checked.svg);
  --img-ico-checked: url(./img/ico-checked.svg);
  --img-ico-external: url(./img/ico-external.svg);
  --img-ico-sns-facebook: url(./img/ico-sns-facebook.svg);
  --img-ico-sns-instagram: url(./img/ico-sns-instagram.svg);
  --img-ico-sns-line: url(./img/ico-sns-line.svg);
  --img-ico-sns-x: url(./img/ico-sns-x.svg);
  --img-ico-sns-youtube: url(./img/ico-sns-youtube.svg);
  --img-menu-close: url(./img/menu-close.svg);
  --img-menu-toggle: url(./img/menu-toggle.svg);
}
*/
