@media screen and (prefers-reduced-motion: no-preference) {
  [data-scroll-fade-in] {
    --_delay: 0.08s;
    --_duration: 0.8s;
    --_x: 0;
    --_y: calc(1.25rem + 2cqi);

    /* Avoid NO_LCP */
    opacity: 0.001;
    transform: translate3d(var(--_x), var(--_y), 0);
    will-change: opacity, transform;
  }

  [data-scroll-fade-in="lx"] {
    --_x: calc(-1.125rem - 1.5cqi);
    --_y: 0;
  }

  [data-scroll-fade-in="rx"] {
    --_x: calc(1.125rem + 1.5cqi);
    --_y: 0;
  }

  [data-decode-in-img] img {
    --_delay: 0s;
    --_duration: 0.2s;

    opacity: 0.001;
    will-change: opacity;
  }

  [data-decode-in-img] {
    position: relative;
    contain: layout paint;
    overflow: clip;
  }

  [data-page-active]:root {
    [data-scroll-fade-in] {
      transition:
        transform var(--_duration) var(--ease-out-circ),
        opacity calc(var(--_duration) * 0.6) ease;
      transition-delay:
        var(--_delay),
        var(--_delay);
    }

    [data-decode-in-img] {
      img {
        display: block;
        transition: opacity var(--_duration) var(--_delay);

        &[data-img-decoded="true"] {
          opacity: 1;
        }
      }
    }

    [data-scroll="in"][data-scroll-fade-in] {
      opacity: 1;
      filter: none;
      transform: translate3d(0, 0, 0);
    }

    :is([data-decode-in-img]):has(img) {
      &:not(:has(img[data-img-decoded="true"])):before {
        position: absolute;
        z-index: 3;
        inline-size: 100%;
        block-size: 100%;
        content: "";
        background: linear-gradient(
          90deg,
          rgb(220 220 220 / 0) 0%,
          rgb(220 220 220 / 0.4) 50%,
          rgb(220 220 220 / 0) 100%
        );
        translate: -100% 0 0;
        animation: shimmer 1s infinite 0.4s;
      }

      &.is-grad-lighten:not(:has(img[data-img-decoded="true"]))::before {
        background: linear-gradient(
          90deg,
          rgb(255 255 255 / 0) 0%,
          rgb(255 255 255 / 0.4) 50%,
          rgb(255 255 255 / 0) 100%
        );
      }
    }
  }
}

@keyframes shimmer {
  0% {
    translate: -100% 0 0;
  }
  100% {
    translate: 100% 0 0;
  }
}
