* {
  box-sizing: border-box;
  min-inline-size: 0;

  &:focus-visible {
    outline: 2px solid rgb(60 0 255);
    outline-offset: 2px;
  }

  *::placeholder {
    color: #fff;
    opacity: 0.5;
  }
}

html {
  /* scroll-behavior: auto; */
  overflow-y: scroll;
  color-scheme: initial;
  scroll-padding-top: initial;
}

body {
  /* scrollbar-gutter: stable; */
  font-optical-sizing: auto;
  font-feature-settings: "palt";
  line-height: 1.4;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  font-synthesis: none;
}

img,
svg {
  max-inline-size: 100%;
  block-size: auto;
}
