@layer components.ui {
  .button {
    @layer elements {
      --_color: var(--color-base);
      --_bg-color: var(--color-primary);
      --_stroke-color: var(--color-primary);
      --_inline-size: fit-content;
      --_min-block-size: 3.75em;
      --_min-inline-size: calc(300 * var(--rem));
      --_font-size: 1rem;

      display: inline grid;
      background-color: var(--_bg-color);
      border-radius: var(--infinity);
      border: max(2px, calc(2 * var(--rem))) solid var(--_stroke-color);
      color: var(--_color);
      font-weight: var(--font-weight-bold);
      column-gap: 0.25em;
      grid-template-columns: auto 1fr auto;
      inline-size: min(100%, var(--_min-inline-size));
      min-block-size: var(--_min-block-size);
      padding: 0.25em 1em;
      place-items: center;
      text-decoration: none;
      transition-duration: 200ms;
      transition-property: color, background-color;

      &::before,
      &::after {
        display: block;
        content: "";
        inline-size: 0.25em;
        aspect-ratio: 1;
        mask: no-repeat center / 1em;
      }

      > .button__label {
        display: inline grid;
        align-items: center;
        column-gap: 0.25em;
        font-size: var(--_font-size);
        word-break: keep-all;
        overflow-wrap: break-word;
        line-height: var(--leading-md);
      }
    }

    @layer states {
      &:focus-visible {
        --_color: var(--color-primary);
        --_bg-color: var(--color-base);
      }

      @media (any-hover: hover) {
        &:hover {
          --_color: var(--color-primary);
          --_bg-color: var(--color-base);
        }
      }
    }

    @layer modifiers {
      &:is(.is-arrow-next::after) {
        background-color: currentColor;
        mask-image: var(--img-ico-arrow-next);
        inline-size: 1.5em;
      }

      &:is(.is-arrow-prev::before) {
        background-color: currentColor;
        mask-image: var(--img-ico-arrow-prev);
        inline-size: 1.5em;
      }

      &:is([target="_blank"]::after) {
        background-color: currentColor;
        mask: var(--img-ico-external) no-repeat center / 0.75em;
        inline-size: 1em;
      }

      &:is(.is-small) {
        --_font-size: 0.875rem;
        column-gap: 0.125em;
      }

      &:is(.is-long) {
        --_min-inline-size: calc(400 * var(--rem));
      }

      &:is(.is-narrow) {
        --_font-size: 0.875rem;
        --_min-inline-size: calc(160 * var(--rem));
        --_min-block-size: 3.125rem;

        padding-inline: 0.75em;
      }

      &:is(.is-thin) {
        --_min-block-size: 2.5em;
      }

      /*
      &:is(.is-style-secondary) {
        --_color: var(--color-text);
        --_bg-color: var(--color-base);
        --_stroke-color: var(--color-base);

        font-weight: var(--font-weight-medium);

        &:focus-visible {
          --_color: var(--color-primary-text);
          --_bg-color: var(--color-primary-lighten);
        }
        @media (any-hover: hover) {
          &:hover {
            --_color: var(--color-primary-text);
            --_bg-color: var(--color-primary-lighten);
          }
        }
      }
      */
    }
  }
}
