/* global styles */

/* @see https://lightningcss.dev/bundling.html#cascade-layers */
@layer config, reset, utilities, components.layouts, components.ui;

@import "styles/variables.css" layer(config);
@import "styles/inline-images.css" layer(config);

@import "npm:@acab/reset.css" layer(reset);
@import "styles/base.css" layer(reset);
@import "styles/typography.css" layer(reset);

@import "styles/utilities.css" layer(utilities);
@import "styles/transition.css" layer(utilities);
